### Covariance Matrix

In [19]:
import numpy as np
import pandas as pd

In [21]:
a = [[2,2],[3,4],[4,5],[5,7],[9,11]]
b = ['X','Y']
data = pd.DataFrame(a,columns=b)
data

   X   Y
0  2   2
1  3   4
2  4   5
3  5   7
4  9  11

In [22]:
np.cov(data.T)

array([[ 7.3 ,  9.15],
       [ 9.15, 11.7 ]])